.navbar {
    display:flex;
    flex-direction:row;
    background-color:#5cb85c;
    justify-content: space-between;
}

h1 {
    font-size: 3em;
    line-height: 1.15em;
  }


  p {
    margin: 0 0 10px;
  }