.button {
  background-color: $green !important;
  border-style: none !important;
}

.link {
  color: $green;
  text-decoration: none;
}
.link:hover {
  color: $green;
}
.error {
  color: $red;
  position: absolute;
  display: flex;
}

.input {
  border-color: $red;
}

.autherror {
  color: $red;
  display: flex;
  position: absolute;
}

.autherror {
  color: $red;
}

.button:hover {
  background-color: $green;
  border-style: none;
}
