.cardcontainer {
  background-color: $green;
}

.eachItem {
  color: #fff;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.eachItem {
  display: flex;
}
