.button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    
}

.signup-button {
    margin-top: 10px;
    background-color: green;
    
}

.error {
    color:red;
}

.signup-form {
    margin-top: 30px;
}

.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width:320px) {
    .signup-button {
        padding-right: 10px;
    }
}

@media (min-width:768px) {
    .signup-button {
        margin-right:199px;
    }
}

@media (min-width:1024px) {
    .signup-button {
        margin-right: 273px;
    }
}

@media (min-width:1440px) {
    .signup-button {
        margin-right:373px;
    }
}
